.vscode/
wisecaller_modules/nodejs/
wisecaller_modules/nodejs.zip
workingHrsService-copy

auth-service/node_modules
call-service/node_modules
contact-sync-service/node_modules
notification-service/node_modules
event-service/node_modules
order-service/node_modules
package-service/node_modules
status-service/node_modules
api-doc-service/node_modules
wisecaller_modules/node_modules
callmanagement-service/node_modules
wisecaller-all/node_modules
workingHrsService/node_modules
subscription-service/node_modules
cron_job/node_modules


auth-service/package-lock.json
call-service/package-lock.json
contact-sync-service/package-lock.json
notification-service/package-lock.json
event-service/package-lock.json
order-service/package-lock.json
package-service/package-lock.json
status-service/package-lock.json
api-doc-service/package-lock.json
callmanagement-service/package-lock.json
workingHrsService/package-lock.json
wisecaller_modules/package-lock.json
subscription-service/package-lock.json

auth-service/yarn.lock
call-service/yarn.lock
notification-service/yarn.lock
event-service/yarn.lock
order-service/yarn.lock
package-service/yarn.lock
status-service/yarn.lock
api-doc-service/yarn.lock
contact-sync-service/yarn.lock
workingHrsService/yarn.lock
subscription-service/yarn.lock


auth-service/yarn-error.log
call-service/yarn-error.log
contact-sync-service/yarn-error.log
notification-service/yarn-error.log
event-service/yarn-error.log
order-service/yarn-error.log
package-service/yarn-error.log
status-service/yarn-error.log
api-doc-service/yarn-error.log
workingHrsService/yarn-error.log
subscription-service/yarn-error.log

auth-service/bin
call-service/bin
contact-sync-service/bin
notification-service/bin
event-service/bin
order-service/bin
package-service/bin
status-service/bin
api-doc-service/bin
workingHrsService/bin
subscription-service/bin



auth-service/build
call-service/build
contact-sync-service/build
notification-service/build
event-service/build
order-service/build
package-service/build
status-service/build
api-doc-service/build
workingHrsService/build
subscription-service/build

auth-service/.serverless
call-service/.serverless
contact-sync-service/.serverless
notification-service/.serverless
event-service/.serverless
order-service/.serverless
package-service/.serverless
status-service/.serverless
api-doc-service/.serverless
wisecaller_modules/.serverless
callmanagement-service/.serverless
workingHrsService/.serverless

auth-service/.build
call-service/.build
contact-sync-service/.build
notification-service/.build
event-service/.build
order-service/.build
package-service/.build
status-service/.build
api-doc-service/.build
workingHrsService/.build


api-doc-service/document.zip
node_modules/lodash/_apply.js
node_modules
backup 12 nov.json
.gitignore
organization-service/bin
auth-service/package.json
aws-sdk-layer/package-lock.json
call-service/.npmrc
aws-sdk-layer/package-lock.json
subscription-service/.serverless
organization-service/.serverless
organization-service/.env
.npmrc
package-lock.json
organization-service/yarn-error.log
organization-service/yarn.lock
remaninig.txt
Business-Components