auth-service/node_modules
callmanagement-service/node_modules
contact-sync-service/node_modules
customSMS-service/node_modules
eventManament-service/node_modules
ordermanagement-service/node_modules
packageManagement-service/node_modules
wisecallerContactStatus-service/node_modules


auth-service/package-lock.json
callmanagement-service/package-lock.json
contact-sync-service/package-lock.json
customSMS-service/package-lock.json
eventManament-service/package-lock.json
ordermanagement-service/package-lock.json
packageManagement-service/package-lock.json
wisecallerContactStatus-service/package-lock.json


auth-service/yarn.lock
callmanagement-service/yarn.lock
contact-sync-service/yarn.lock
customSMS-service/yarn.lock
eventManament-service/yarn.lock
ordermanagement-service/yarn.lock
packageManagement-service/yarn.lock
wisecallerContactStatus-service/yarn.lock


auth-service/yarn-error.log
callmanagement-service/yarn-error.log
contact-sync-service/yarn-error.log
customSMS-service/yarn-error.log
eventManament-service/yarn-error.log
ordermanagement-service/yarn-error.log
packageManagement-service/yarn-error.log
wisecallerContactStatus-service/yarn-error.log


auth-service/bin
callmanagement-service/bin
contact-sync-service/bin
customSMS-service/bin
eventManament-service/bin
ordermanagement-service/bin
packageManagement-service/bin
wisecallerContactStatus-service/bin


auth-service/.serverless
callmanagement-service/.serverless
contact-sync-service/.serverless
customSMS-service/.serverless
eventManament-service/.serverless
ordermanagement-service/.serverless
packageManagement-service/.serverless
wisecallerContactStatus-service/.serverless

auth-service/build
callmanagement-service/build
contact-sync-service/build
customSMS-service/build
eventManament-service/build
ordermanagement-service/build
packageManagement-service/build
wisecallerContactStatus-service/build





